.golf-container {
    background-color: rgba(59, 56, 56, 0.8);
    width: 52%;
    height:38%;
    margin: 50px auto;
    border-radius: 50px;
    text-align: center;
    padding: 75px 75px 90px;
}
.golf-container .caption {
    display: block;
    color: #ffffff;
    font-size: 3.5rem;
    font-family: sans-serif;
    text-align: left;
    margin-top: 10%;
    margin-left: 7.5%;
}

.golf-container .bild{
    float: left;
    height: 250px;
    width: 250px;
    border-radius: 50px;
}
.golf-container .duration {
    height: 50px;
    width: 400px;
    float: right;
}

.golf-container .description {
    height: 50px;
    width: 400px;
    float: right;
}

.golf-container p{
    display: inline-block;
    margin-left : auto;
    color: #ffffff;
    font-family: sans-serif;
}
.golf-container button{
    float: right;
    font-size: 2rem;
    background-color: rgba(59, 56, 56, 0.8);
    color: white;
    border: 3px solid rgb(200, 200,200);
    border-radius: 50px;
    margin: 2.5%;
}
.golf-container .holes{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-auto-flow: column;

}
.golf-container .row-hole{
    border: 1px solid rgb(200, 200,200);
}

.golf-container .hole-caption{
    font-size: 2rem;
}
.golf-container .strokes-caption{
    font-size: 1.5rem;
    padding: 2%;
}
.golf-container .input-strokes{
    width: 10%;
    height: 10%;
    padding: 5%;
}
.golf-container .points-caption{
    font-size: 1.5rem;
    padding: 2%;
}
.golf-container .input-points{
    width: 10%;
    height: 10%;
    padding: 5%;
}