/**
 @author Kevin Nordkvist & Kasper Svenlin
 */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container {
    background-color: rgba(59, 56, 56, 0.8);
    width: 52%;
    height: 38%;
    margin: 50px auto;
    border-radius: 50px;
    text-align: center;
    padding: 75px 75px 90px;
}

.container .caption {
    display: block;
    color: #ffffff;
    font-size: 3.5rem;
    font-family: sans-serif;
    text-align: left;
    margin-top: 10%;
}

.container .bild {
    float: left;
    height: 250px;
    width: 250px;
    border-radius: 50px;
}

.container .duration {
    height: 50px;
    width: 400px;
    float: right;
}

.container .description {
    height: 50px;
    width: 400px;
    float: right;
}

.container .distance {
    height: 50px;
    width: 400px;
    float: right;
}


.container p {
    display: inline-block;
    margin-left: auto;
    color: #ffffff;
    font-family: sans-serif;
}

.container .button {
    float: right;
    font-size: 2rem;
    background-color: rgba(59, 56, 56, 0.8);
    color: white;
    border: 3px solid rgb(200, 200, 200);
    border-radius: 50px;
    margin: 2.5%;
}

.container .add {
    float: left;
    font-size: 1rem;
    background-color: rgba(59, 56, 56, 0.8);
    color: white;
    border: 3px solid rgb(200, 200, 200);
    border-radius: 50px;
    margin: 2.5% 2.5% 2.5% 7.5%;
}

.container .exercise-grid {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: row;
    text-align: center;
}

.container .exercise {
    border: 1px solid rgb(200, 200, 200);
}

.container .input-name {
    height: 50px;
    width: 350px;
    margin-bottom: 20px;
}

.container .exercise-caption {
    font-size: 2rem;
}
