
.endurance-container {
    background-color: rgba(59, 56, 56, 0.8);
    width: 52%;
    height:38%;
    margin: 50px auto; /* marginaler på bakgrunden */
    border-radius: 50px;/* rundar hörnen */
    text-align: center;
    padding: 75px 75px 75px;
}

.endurance-container .caption {
    display: block;
    color: #ffffff;
    font-size: 3.5rem;
    font-family: sans-serif;
    text-align: left;
    margin-top: 10%;
}

.endurance-container .bild{
    float: left;
    height: 250px;
    width: 250px;
    border-radius: 50px;
}



.endurance-container .duration {
    height: 50px;
    width: 400px;
    float: right;
}

.endurance-container .description {
    height: 50px;
    width: 400px;
    float: right;
}

.endurance-container .distance {
    height: 50px;
    width: 400px;
    float: right;
}
.endurance-container p{
    display: inline-block;
    margin-left : auto;
    color: #ffffff;
    font-family: sans-serif;
}
.endurance-container button{
    float: right;
}









