
.search-form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-input {
    width: 600px;
    padding: 10px;
    font-size: 28px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-button {
    padding: 10px 20px;
    font-size: 26px;
    font-family: 'Press Start 2P', cursive;
    background-color: #ff7100;
    color: white;
    border: 1px solid #ff7100;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
    width: 150px;
}

.user-container{
    width: auto;
    margin: 15px 22% 10% 22%;
    padding: 0.5em;
    background-color: rgba(59, 56, 56, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    font-family: 'Press Start 2P', cursive;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-button:hover {
    background-color: #ff7100;
}

.user-card {
    background-color: rgba(255, 113, 0, 0.8);
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    min-width: 800px;
    max-width: 800px;
}

.user-card .profile-pic {
    float: left;
    min-width: 200px;
    min-height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.user-card .user-name {
    align-content: center;
    float: right;
    font-size: 25px;
    font-weight: bold;
    margin-top: 18%;
    font-family: 'Press Start 2P', cursive;
    padding-left: 15px;
    color: #eaeaea;
}

.user-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    text-align: center;
    width: 100%;
}
