
.profile-flex-container,
.fullName,
.profile-XP-bar h1,
.activities,
.activity {
    font-family: 'Press Start 2P', cursive;
}

.profile-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.profile-pic-in-page {
    object-fit: cover;
    margin: 50px;
    background-color: rgba(59, 56, 56, 0.8);
    border-radius: 10%;
    padding: 20px;
}
.profile-pic-in-page .fullName h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ffffff !important;
    font-size: 2rem;
    width: 100%;
}

.profile-pic-in-page h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ffffff !important;
    font-size: 2rem;
    width: 100%;
}

.profile-pic-in-page h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ffffff !important;
    font-size: 2rem;
    font-family: 'Press Start 2P', cursive;
    width: 100%;
}
.profile-pic-in-page h4 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ffffff !important;
    font-size: 1.5rem;
    font-family: 'Press Start 2P', cursive;
    width: 100%;
}

.profile-pic-in-page img {
    border-radius: 10%;
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    height: auto;
    min-width: 400px;
    min-height: 400px;
}

.profile-pic-in-page h5 {
    font-size: 2rem;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #ffffff !important;
    margin-top: -20px;
}

.xp-bar-container p {
    font-size: 1rem;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #ffffff ;
    margin-top: -20px;
}

.xp-bar-container {
    width: 100%;
    position: relative;
    height: 30px;
    padding: 1em;
    background-color: rgba(59, 56, 56, 0.8);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.xp-bar {
    width:calc(100% - 2em);
    height: 100%;
    background-color: #0080ff;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    transition: width 0.3s ease;
}

.xp-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
    z-index: 2;
}

.activities {
    width: 80%;
    padding: 0.5em;
    margin-top: 10px;
    background-color: rgba(59, 56, 56, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

.activity {
    background-color: #ff7100;
    padding: 1em;
    margin-bottom: 20px;
    border-radius: 10px;
}

.streak-container {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    z-index: 2;
}

.fire-emoji {
    width: 30px;
    height: auto;
    margin-right: 5px;
}

.streak-container h4{
text-align: center;
margin-top: auto;
margin-bottom: auto;
color: #ffffff !important;
font-size: 1.25rem;
font-family: 'Press Start 2P', cursive;
width: 100%;
}




