
.walk-container {
    background-color: rgba(59, 56, 56, 0.8);
    width: auto;
    height: auto;
    margin: 50px 300px; /* marginaler på bakgrunden */
    border-radius: 50px;/* rundar hörnen */
    overflow: hidden;
}
.caption {
    text-align: left;
    margin-left: 50px;
    margin-bottom: 50px;
    color: #ffffff;
    font-size: 3.5rem;
    font-family: sans-serif;
}

.bild{
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    height: 250px;
    width: 250px;
    border-radius: 50px;
}

.in-data {
    float: left;
    margin: 107px;
}

.duration {
    height: 50px;
    width: 400px;


}

.distance {
    height: 50px;
    width: 400px;


}




