/**
 @author Adam Mheisen
 */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


nav {
    justify-content: center;
    display: flex;
    padding: 0.5rem

}


.titel {
    background-color: #ff7100;
    border-radius: 75px;
    height: 140px;
    margin: 50px auto;
    overflow: hidden;
    display: flex;
}

.notification {
    background-color: #ff7100;
    border-radius: 75px;
    height: 140px;
    width: 150px;
    text-align: left;
    margin: 50px auto 30px 50px;
    overflow: hidden;
}

.hamburger {
    background-color: #ff7100;
    border-radius: 75px;
    height: 140px;
    width: 150px;
    text-align: right;
    margin: 50px 50px 30px auto;
    font-size: 50px;
}



body {
    margin: 0;
    padding: 0;
    background-image: url('../images/bakgrund2.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: #ff7100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.navbar a {
    font-size: 50px;
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    padding: 1rem;
    display: flex;
    text-decoration: none;
    transition: color 0.3s ease;
    justify-content: center;
    align-items: center;
}





.navbar a:hover {
    color: black;
}

.navbar a:active {
    color: #834615;
}

header img,
.profile-pic {
    max-height: 60px;
    max-width: 60px;
    min-height: 60px;
    min-width: 60px;
    object-fit: contain;
    border-radius: 50%;
}

header h1 {
    font-size: 47px;
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
}

header:hover h1 {
    color: black;
}

.fas.fa-search {
    color: white;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

