.profile-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);

    border-radius: 10px;
}

.profile-pic-in-page{
    object-fit: cover;
    margin: 50px;
    background-color: rgba(59, 56, 56, 0.8);
    border-radius: 10%;
    padding: 20px;
}
.fullName{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 2.5rem;
    font-family: sans-serif;
}

.profile-pic-in-page img {
    border-radius: 10%;
    width: 100%;
    max-width: 400px;
    height: auto;

}
.profile-XP-bar{
    width: 100%;
    padding: 1em;
    background-color: rgba(59, 56, 56, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-top: 20px;
}
.profile-XP-bar h1 {
    font-size: 2rem;
    font-family: sans-serif;
    text-align: center;
    color: #ffffff;
    margin: 0.5rem;
}


.xp-bar {
    height: 20px;
    background-color: #0080ff;
    border-radius: 5px;
    transition: width 0.5s ease;
}

.activities{
    width: 100%;
    padding: 1em;
    margin-top: 20px;
    background-color: rgba(59, 56, 56, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.activity{
    background-color: #ff7100;
    padding: 1em;
    margin-bottom: 20px;
    border-radius: 10px;
}







