.content-container{
    background-color: rgba(59, 56, 56, 0.8);
    width: auto;
    height: auto;
    margin: 50px 250px; /* marginaler på bakgrunden */
    border-radius: 50px;/* rundar hörnen */
    text-align:  center;
    overflow: hidden;
    alignment-baseline: auto;
    padding: 0 0 100px ;
}

.image-grid button {
    margin: 50px 50px 50px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    height: 250px;
    width: 250px;
    background: none;
}

.image-grid .bild {
    border-radius: 50px;
    object-fit: cover;
    margin: auto;
    height: 100%;
    width: 100%;
}

.image-grid .caption {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 2.5rem;
    font-family: sans-serif;
}





