<!---
@author Isak Hakola & Kasper Svenlin
 --->
<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Welcome to Mafunzo! </title>
    <link href="CSS/navbar.css" rel="stylesheet"/>
</head>
<body>
<link href="CSS/Activities/enduraceActivities.css" rel="stylesheet">
<nav class="navbar">

    <div class="notification">
        <a>
            <img src="../images/notification.png">
        </a>
    </div>

    <div class="titel">
        <a href="home">
            <header>
                <img src="../images/logo.png" alt="Header image">
                <h1>Mafunzo</h1>
            </header>
        </a>
    </div>

    <div class="hamburger">
        <select id ="menu" onChange="window.location.href=this.value">
            <option value="home" >Menu</option>
            <option value="profilepage">Profile</option>
            <option value="registerActivity">Add activity</option>
            <option value="searchPage">Search</option>
            <option value="logOut">Log out</option>
        </select>

    </div>
</nav>

<div class="endurance-container">
    <div class="row">
        <img src="images/gorilla-cyklar.png" alt="Cykling" class="bild">
        <div class="in-data">
            <form th:action="@{/registerBike}" th:object="${bikeActivity}" method="post">
                <p> Duration (minutes) </p>
                <input type="number" min="2" th:field="*{duration}" class="duration">
                <br> <br>
                <p> Distance (km) </p>
                <input type="number" step="0.1" th:field="*{distance}" class="distance">
                <br><br>
                <p> Comment </p>
                <input type="text" th:field="*{description}" class="description">
                <br><br>
                <button class="button" type="submit">Register</button>
            </form>
        </div>
    </div>
    <div class="caption">Cycling</div>
</div>
</body>