
<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Välkommen till Mafunzo! </title>
    <link href="CSS/navbar.css" rel="stylesheet"/>
</head>
<body>
<link href="CSS/Activities/golfActivities.css" rel="stylesheet">
<nav class="navbar">
    <a href="index">
        <header>
            <img src="images/logo.png" alt="Header image">
            <h1>Mafunzo</h1>
        </header>
    </a>
    <a href="registerActivity">Registrera Aktivitet</a>
    <a href="#register">Vänner</a>
    <a href="profilepage">
        <img th:src="'data:image/jpeg;base64,'+${user.image}" alt="Profile Picture" class="profile-pic">
    </a>
    <a th:href="@{/logOut}" class="button">Avsluta</a>
</nav>

<div class="golf-container">
    <form th:action="@{/registerGolf}" th:object="${golfActivity}" method="post">
        <div class="row-one" >
            <img src="images/gorilla-golfar.png" alt="Golf" class="bild">
            <p> Varaktighet (HH, MM) </p>
            <input type="number" th:field="*{duration}" class="duration">
            <br> <br>
            <p th:text="Kommentar" ></p>
            <input type="text" th:field="*{description}" class="description">
            <br><br><br><br>
        </div>

        <div class="row-two" >
            <div class="caption">Golf</div>
        </div>

        <div class="holes">
            <div th:each="hole, holeIndex : ${golfActivity.scoreCard}">
                <div class="row-hole">
                    <p th:text="'Hål ' + ${hole.getHoleNumber()}" class="hole-caption"> </p>
                    <br>
                    <p class="strokes-caption"> Slag </p>
                    <input type="number" min="1" th:field="*{scoreCard[__${holeIndex.index}__].strokes}" class="input-strokes" />
                    <p class="points-caption"> Poäng </p>
                    <input type="number" min="0" th:field="*{scoreCard[__${holeIndex.index}__].points}" class="input-points"/>
                </div>
            </div>
        </div>
        <button class="button" type="submit">Registrera</button>

</div>
</body>
</html>



