<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Välkommen till Mafunzo! </title>
    <link href="CSS/navbar.css" rel="stylesheet"/>
</head>
<body>
<link href="CSS/Activities/golfActivities.css" rel="stylesheet">
<nav class="navbar">
    <a href="index">
        <header>
            <img src="images/logo.png" alt="Header image">
            <h1>Mafunzo</h1>
        </header>
    </a>
    <a href="registerActivity">Registrera Aktivitet</a>
    <a href="#register">Vänner</a>
    <a href="profilepage">
        <img th:src="'data:image/jpeg;base64,'+${user.image}" alt="Profile Picture" class="profile-pic">
    </a>
    <a th:href="@{/logOut}" class="button">Avsluta</a>
</nav>

<div class="golf-container">
    <form th:action="@{/registerGolf}" th:object="${golfActivity}" method="post">
        <div class="row-one" >
            <img src="images/gorilla-golfar.png" alt="Golf" class="bild">
            <p> Varaktighet (HH, MM) </p>
            <input type="number" th:field="*{duration}" class="duration">
            <br> <br>
            <p> Kommentar </p>
            <input type="text" th:field="*{description}" class="description">
            <br><br>
        </div>
        <div class="row-two" >
            <div class="caption">Promenad</div>
        </div>

        <div class="row-three" >
            <p> Hål 1</p>

        </div>

        <div class="row-four" >
            <p> Hål 2</p>

        </div>

        <div class="row-five" >
            <p> Hål 3</p>

        </div>

        <div class="row-six" >
            <p> Hål 4</p>

        </div>

        <div class="row-seven" >
            <p> Hål 5</p>


        </div>

        <div class="row-eight" >
            <p> Hål 6</p>

        </div>

        <div class="row-nine" >
            <p> Hål 7</p>

        </div>

        <div class="row-ten" >
            <p> Hål 8</p>

        </div>

        <div class="row-eleven" >
            <p> Hål 9</p>

        </div>

        <div class="row-twelve" >
            <p> Hål 10</p>

        </div>

        <div class="row-thirteen" >
            <p> Hål 11</p>

        </div>

        <div class="row-fourteen" >
            <p> Hål 12</p>

        </div>

        <div class="row-fifteen" >
            <p> Hål 13</p>

        </div>

        <div class="row-sixteen" >
            <p> Hål 14</p>

        </div>

        <div class="row-seventeen" >
            <p> Hål 15</p>

        </div>

        <div class="row-eighteen" >
            <p> Hål 16</p>

        </div>

        <div class="row-nineteen" >
            <p> Hål 17</p>

        </div>
        <div class="row-nineteen" >
            <p> Hål 18</p>

        </div>

        <button class="button" type="submit">Registrera</button>

</div>

