<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Välkommen till Mafunzo! </title>
    <link href="CSS/navbar.css" rel="stylesheet"/>
</head>
<body>
<link href="CSS/Activities/enduraceActivities.css" rel="stylesheet">
<nav class="navbar">
    <a href="index">
        <header>
            <img src="images/logo.png" alt="Header image">
            <h1>Mafunzo</h1>
        </header>
    </a>
    <a href="registerActivity">Registrera Aktivitet</a>
    <a href="#register">Vänner</a>
    <a href="profilepage">
        <img th:src="'data:image/jpeg;base64,'+${user.image}" alt="Profile Picture" class="profile-pic">
    </a>
    <a th:href="@{/logOut}" class="button">Avsluta</a>
</nav>

<div class="endurance-container">
    <div class="row">
        <img src="images/gorilla-löper.png" alt="Löpning" class="bild">
        <div class="in-data">
            <form th:action="@{/registerRun}" th:object="${runActivity}" method="post">
                <p> Varaktighet (HH, MM) </p>
                <input type="number" th:field="*{duration}" class="duration">
                <br> <br>
                <p> Distans (km) </p>
                <input type="number" th:field="*{distance}"  class="distance">
                <br><br>
                <p> Kommentar </p>
                <input type="text" th:field="*{description}" class="description">
                <br><br>
                <button class="button" type="submit">Registrera</button>
            </form>
        </div>
    </div>
    <div class="caption">Löpning</div>
</div>
</body>