<!---
@author Adam Mheisen
 --->
<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="UTF-8">
    <title> Välkommen till Mafunzo! </title>
    <link href="../CSS/navbar.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar">
    <a href="home">
        <header>
            <img src="../images/logo.png" alt="Header image">
            <h1>Mafunzo</h1>
        </header>
    </a>
    <a href="registerActivity">Registrera Aktivitet</a>
    <a href="#register">Vänner</a>
    <a href="profilepage">
        <img th:src="'data:image/jpeg;base64,'+${user.image}" alt="Profile Picture" class="profile-pic">
    </a>
    <a th:href="@{/logOut}" class="button">Avsluta</a>
</nav>

</body>
</html>
