<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Välkommen till Mafunzo! </title>
    <link href="../CSS/navbar.css" rel="stylesheet"/>
    <link href="../CSS/register.css" rel="stylesheet"/>

</head>
<body>
<link href="CSS/registerActivity.css" rel="stylesheet">

<div class="content-container-register">
    <div class="form-box">
        <h1 id="title">
            Registrera dig
        </h1>
        <form>
            <div class="input-box">
                <div class="input-group" id="nameField1">
                    <input type="text" placeholder="Förnamn">
                </div>
                <div class="input-group" id="nameField2">
                    <input type="text" placeholder="Efternamn">
                </div>
                <div class="input-group">
                    <input type="text" placeholder="Email">
                </div>
                <div class="input-group">
                    <input type="password" placeholder="Lösenord">
                </div>

                <div class="input-group-question" id="question1">
                    <p>Hur många träningspass kör du i veckan?</p>
                    <input type="radio" id="a1.1" value="1">
                    <label for="a1.1">0-2</label>

                    <input type="radio" id="a2.1" value="2">
                    <label for="a2.1">3-4</label>

                    <input type="radio" id="a3.1" value="3">
                    <label for="a3.1">5-6</label>

                    <input type="radio" id="a4.1" value="4">
                    <label for="a4.1">6+</label>
                </div>

                <div class="input-group-question" id="question2">
                    <p>Hur erfaren anser du dig vara?</p>
                    <input type="radio" id="a1.2" value="1">
                    <label for="a1.2">Nybörjare</label>

                    <input type="radio" id="a2.2" value="2">
                    <label for="a2.2">Medel</label>

                    <input type="radio" id="a3.2" value="3">
                    <label for="a3.2">Hobbyatlet</label>

                    <input type="radio" id="a4.2" value="4">
                    <label for="a4.2">Professionell</label>
                </div>

                <div class="input-group-question" id="question3">
                    <p>Vad är dina ambitioner?</p>
                    <input type="radio" id="a1.3" value="1">
                    <label for="a1.3">Komma igång med träning</label>

                    <input type="radio" id="a2.3" value="2">
                    <label for="a2.3">Bli mer konsekvent med träning</label>

                    <input type="radio" id="a3.3" value="3">
                    <label for="a3.3">Höja intensiteten på dina nuvarande pass</label>

                    <input type="radio" id="a4.3" value="4">
                    <label for="a4.3">Träning är ditt största fokus i vardagen</label>
                </div>

                <div class="input-group-question" id="question4">
                    <p>Hur ansträngande är din fysiska aktivitet?</p>
                    <input type="radio" id="a1.4" value="1">
                    <label for="a1.4">Låg</label>

                    <input type="radio" id="a2.4" value="2">
                    <label for="a2.4">Medel</label>

                    <input type="radio" id="a3.4" value="3">
                    <label for="a3.4">Hög</label>

                    <input type="radio" id="a4.4" value="4">
                    <label for="a4.4">Väldigt hög</label>
                </div>

                <div class="input-group-question" id="question5">
                    <p>Hur långa är dina pass?</p>
                    <input type="radio" id="a1.5" value="1">
                    <label for="a1.5">0-30 min</label>

                    <input type="radio" id="a2.5" value="2">
                    <label for="a2.5">31-45 min</label>

                    <input type="radio" id="a3.5" value="3">
                    <label for="a3.5">46-60 min</label>

                    <input type="radio" id="a4.5" value="4">
                    <label for="a4.5">61+ min</label>
                </div>
            </div>
        </form>

        <div class="button-field">
            <button type="button" id="registerButton">
                Registera dig
            </button>
            <button type="button" id="loginButton" class="disable">
                Logga in
            </button>
        </div>

        <div class="continue">
            <button class='common-button' type="button" id="continueButton">
                Fortsätt
            </button>
            <button class='common-button' type="submit" id="submit">
                Skicka in
            </button>
        </div>
    </div>
</div>
<div id="snackbar"></div>


<script>

    /*This part of the script creates variables for the different elements in the HTML file

     */

    let registerButton = document.getElementById("registerButton");
    let loginButton = document.getElementById("loginButton");
    let fname = document.getElementById("nameField1")
    let lname = document.getElementById("nameField2")
    let title = document.getElementById("title");
    let q1 = document.getElementById("question1");
    let q2 = document.getElementById("question2");
    let q3 = document.getElementById("question3");
    let q4 = document.getElementById("question4");
    let q5 = document.getElementById("question5");
    let continueButton = document.getElementById("continueButton");
    let submitButton = document.getElementById("submit");

    let nameField1 = document.querySelector("#nameField1 input");
    let nameField2 = document.querySelector("#nameField2 input");
    let email = document.querySelector(".input-group input[type='text'][placeholder='Email']");
    let password = document.querySelector(".input-group input[type='password']");
    let contentContainer = document.querySelector('.content-container-register');
    let buttonfield = document.querySelector('.button-field');
    let radioButtons = document.querySelectorAll("input[type='radio']");

    let totalScore = 0;
    let isLogInButtonPressed = false;

    /*
    This part adds event listeners to the radio buttons in the evaluation form. When a radio button is checked
    the event listeners fire and the next question is displayed. When the last question is answered
    the submit button is displayed.
     */

    document.querySelectorAll("#question1 input[type='radio']").forEach(function (radio) {
        radio.addEventListener('change', function () {
            q2.style.padding = '12px';
            q2.style.maxHeight = '120px';

        });
    });

    document.querySelectorAll("#question2 input[type='radio']").forEach(function (radio) {
        radio.addEventListener('change', function () {
            q3.style.padding = '12px';
            q3.style.maxHeight = '120px';

        });
    });

    document.querySelectorAll("#question3 input[type='radio']").forEach(function (radio) {
        radio.addEventListener('change', function () {
            q4.style.padding = '12px';
            q4.style.maxHeight = '120px';
        });
    });

    document.querySelectorAll("#question4 input[type='radio']").forEach(function (radio) {
        radio.addEventListener('change', function () {
            q5.style.padding = '12px';
            q5.style.maxHeight = '120px';
        });
    });

    document.querySelectorAll("#question5 input[type='radio']").forEach(function (radio) {
        radio.addEventListener('change', function () {
            submitButton.style.display = 'block';
            submitButton.style.maxHeight = '40px';
        });
    });

    //This part of the script sets the state of the evaluation form to be hidden initially.

    submitButton.style.display = 'none';
    q1.style.maxHeight = '0';
    q2.style.maxHeight = '0';
    q3.style.maxHeight = '0';
    q4.style.maxHeight = '0';
    q5.style.maxHeight = '0';

    /*
    These two functions control the visability of the login and register buttons. When the login button is pressed
    the register form is hidden and the login form is displayed. When the register button is pressed the login form
    is hidden and the register form is displayed.
    It also changes the state of the isLogInButtonPressed variable to true or false depending on which button is pressed.
    for later use in the continueButton.onclick function.
     */

    loginButton.onclick = function () {
        fname.style.maxHeight = "0";
        lname.style.maxHeight = "0";
        title.innerHTML = "Logga in";
        registerButton.classList.add("disable");
        loginButton.classList.remove("disable");
        isLogInButtonPressed = true;
    }

    registerButton.onclick = function () {
        fname.style.maxHeight = "60px";
        lname.style.maxHeight = "60px";
        title.innerHTML = "Registrera dig";
        registerButton.classList.remove("disable");
        loginButton.classList.add("disable");
        isLogInButtonPressed = false;
    }

    /*
    This function creates a snackbar that displays a message for 3 seconds. The color and border of the snackbar
    is set depending on the color and border parameters that are passed to the function.
    This method shows the notification message with the response from the backend as a notification box.

    The message is set to the
    response from the backend so if it's a success message or an error message it will be displayed in the snackbar.
     */

    function showSnackbar(message, color, border) {
        let snackbar = document.getElementById("snackbar");
        snackbar.innerHTML = message;
        snackbar.className = "show";
        snackbar.style.backgroundColor = color;
        snackbar.style.border = border;
        setTimeout(function () {
            snackbar.className = snackbar.className.replace("show", "");
        }, 3000);
    }

    /*
    The continue onClick function handles the logic for what happens when the continue button is pressed.
    If the isLogInButtonPressed variable is true it sends a post request to the backend with the email and password
    that the user has entered. If the response is not ok it will display a snackbar with the error message from the backend.
    If the isLogInButtonPressed is false it hides the buttonfield with Login and register button and expands the content container
    so the questions fit.
     */

    continueButton.onclick = function () {
        if (isLogInButtonPressed) {
            console.log("logga in skickas från front-end till back-end")

            /*
            Fetch sends the request to the spring backend to the post mapping /login. it sends the data as
            JSON strings to the backend. If the response is not ok it will display a snackbar with the error message
            from the backend. If the response is ok it will display a snackbar with the message "Inloggning lyckades"
             */
            fetch('/verifyUser', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email: email.value,
                    password: password.value
                })
            })
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(data => {
                            showSnackbar(data.message, "#ff4444", "#b20000")
                            throw new Error(data.message)
                        })
                    }
                    showSnackbar("Inloggning lyckades", "#44ff44", '#00b300')
                    setTimeout(function () {
                        window.location.href = "/home";
                    }, 2000);
                    return response.json()
                })

        } else {

            /*
            If the user did not press the login button the register form is displayed and the buttonfield is hidden.
            it sets the styling for the questions and widens the content container and shows the first question.
             */

            buttonfield.style.display = 'none';
            contentContainer.style.width = '65%';
            continueButton.style.display = 'none';

            q1.style.padding = '12px';
            q1.style.maxHeight = '120px';

        }
    }

    /*
    The submit button onclick fires when the submit button is clicked. This button only appears when the evaluation form
    is fully filled in. It starts off by calculation the total score of the evaluation form.
    It then sends the data to the backend as JSON strings and if the response is not ok it will display a snackbar with the error message
    from the backend. If the response is ok it will display a snackbar with the message "Registreringen lyckades"
     */

    submitButton.onclick = function () {
        radioButtons.forEach(function (radio) {
            if (radio.checked) {
                totalScore += parseInt(radio.value);
            }
        });

        fetch('/addUser', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                fname: nameField1.value,
                lname: nameField2.value,
                email: email.value,
                password: password.value,
                evaluationScore: totalScore,
            })
        })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(data => {
                        showSnackbar(data.message, "#ff4444", '#b20000')
                        throw new Error(data.message)
                    })
                }
                showSnackbar("Registreringen lyckades", "#44ff44", '#00b300')

                setTimeout(function () {
                    window.location.href = "/home";
                }, 2000);
                return response.json()
            })
    }
</script>
</body>
</html>