<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Välkommen till Mafunzo! </title>
    <link href="../CSS/navbar.css" rel="stylesheet"/>
    <link href="../CSS/register.css" rel="stylesheet"/>

</head>
<body>
<link href="CSS/registerActivity.css" rel="stylesheet">

<div class="content-container-register">
    <div class="form-box">
        <h1 id="title">
            Registrera dig
        </h1>
        <button id="returnButton" class="return-button">&larr; Return</button>
        <form>
            <div class="input-box">
                <div class="input-group" id="nameField1">
                    <input type="text" placeholder="Förnamn">
                </div>
                <div class="input-group" id="nameField2">
                    <input type="text" placeholder="Efternamn">
                </div>
                <div class="input-group">
                    <input type="text" placeholder="Email">
                </div>
                <div class="input-group">
                    <input type="password" placeholder="Lösenord">
                </div>
                <div id="passwordInstructions" class="password-instructions">
                    <p>Lösenordet måste innehålla:</p>
                    <ul>
                        <li>Minst 8 tecken</li>
                        <li>Minst en stor bokstav</li>
                        <li>Minst en siffra</li>
                    </ul>
                </div>
                <div class="input-group">
                    <input type="file" id="file" name="file" accept="image/*" placeholder="Profilbild">
                </div>

                <div class="input-group-question" id="question1">
                    <p>Hur många träningspass kör du i veckan?</p>
                    <input type="radio" id="a1.1" name="q1" value="1">
                    <label for="a1.1">0-2</label>

                    <input type="radio" id="a2.1" name="q1" value="2">
                    <label for="a2.1">3-4</label>

                    <input type="radio" id="a3.1" name="q1" value="3">
                    <label for="a3.1">5-6</label>

                    <input type="radio" id="a4.1" name="q1" value="4">
                    <label for="a4.1">6+</label>
                </div>

                <div class="input-group-question" id="question2">
                    <p>Hur erfaren anser du dig vara?</p>
                    <input type="radio" id="a1.2" name="q2" value="1">
                    <label for="a1.2">Nybörjare</label>

                    <input type="radio" id="a2.2" name="q2" value="2">
                    <label for="a2.2">Medel</label>

                    <input type="radio" id="a3.2" name="q2" value="3">
                    <label for="a3.2">Hobbyatlet</label>

                    <input type="radio" id="a4.2" name="q2" value="4">
                    <label for="a4.2">Professionell</label>
                </div>

                <div class="input-group-question" id="question3">
                    <p>Vad är dina ambitioner?</p>
                    <input type="radio" id="a1.3" name="q3" value="1">
                    <label for="a1.3">Komma igång med träning</label>

                    <input type="radio" id="a2.3" name="q3" value="2">
                    <label for="a2.3">Bli mer konsekvent med träning</label>

                    <input type="radio" id="a3.3" name="q3" value="3">
                    <label for="a3.3">Höja intensiteten på dina nuvarande pass</label>

                    <input type="radio" id="a4.3" name="q3" value="4">
                    <label for="a4.3">Träning är ditt största fokus i vardagen</label>
                </div>

                <div class="input-group-question" id="question4">
                    <p>Hur ansträngande är din fysiska aktivitet?</p>
                    <input type="radio" id="a1.4" name="q4" value="1">
                    <label for="a1.4">Låg</label>

                    <input type="radio" id="a2.4" name="q4" value="2">
                    <label for="a2.4">Medel</label>

                    <input type="radio" id="a3.4" name="q4" value="3">
                    <label for="a3.4">Hög</label>

                    <input type="radio" id="a4.4" name="q4" value="4">
                    <label for="a4.4">Väldigt hög</label>
                </div>

                <div class="input-group-question" id="question5">
                    <p>Hur långa är dina pass?</p>
                    <input type="radio" id="a1.5" name="q5" value="1">
                    <label for="a1.5">0-30 min</label>

                    <input type="radio" id="a2.5" name="q5" value="2">
                    <label for="a2.5">31-45 min</label>

                    <input type="radio" id="a3.5" name="q5" value="3">
                    <label for="a3.5">46-60 min</label>

                    <input type="radio" id="a4.5" name="q5" value="4">
                    <label for="a4.5">61+ min</label>
                </div>
            </div>
        </form>

        <div class="button-field">
            <button type="button" id="registerButton">
                Registera dig
            </button>
            <button type="button" id="loginButton" class="disable">
                Logga in
            </button>
        </div>

        <div class="continue">
            <button class='common-button' type="button" id="continueButton">
                Fortsätt
            </button>
            <button class='common-button' type="submit" id="submit">
                Skicka in
            </button>
        </div>
    </div>
</div>
<div id="snackbar"></div>

<script src="../js/logInHandler.js"></script>
</body>
</html>

