<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Välkommen till Mafunzo! </title>
    <link href="CSS/navbar.css" rel="stylesheet"/>
</head>
<body>
<link href="CSS/registerActivity.css" rel="stylesheet">
<nav class="navbar">
    <header>
        <img src="images/apa.png" alt="Header image">
        <h1>Mafunzo</h1>
    </header>
    <a href="registerActivity">Registrera Aktivitet</a>
    <a href="#register">Vänner</a>
    <img src=".images/profilepic.png" alt="Profile Picture" class="profile-pic">
    <a href="search.html" class="fas fa-search"></a>
</nav>

<div class="content-container">
    <div class="image-grid">
        <a>
            <div class="caption">Styrketräning</div>
            <img src="images/gorilla-gym.png" alt="Styrketräning" class="bild">
        </a>

        <a>
            <div class="caption">Löpning</div>
            <img src="images/gorilla-löper.png" alt="Löpning" class="bild">
        </a>

        <a>
            <div class="caption">Yoga</div>
            <img src="images/gorilla-yoga.png" alt="Yoga" class="bild">
        </a>

        <a>
            <div class="caption">Promenad</div>
            <img src="images/gorilla-promenerar.png" alt="Promenad" class="bild">
        </a>

        <a>
            <div class="caption">Cykling</div>
            <img src="images/gorilla-cyklar.png" alt="Cykling" class="bild">
        </a>

        <a>
            <div class="caption">Simning</div>
            <img src="images/gorilla-simmar.png" alt="Simning" class="bild">
        </a>

        <a>
            <div class="caption">Golf</div>
            <img src="images/gorilla-golfar.png" alt="Golf" class="bild">
        </a>

        <a>
            <div class="caption">Stretching</div>
            <img src="images/apa.png" alt="Stretching" class="bild">
        </a>

        <a>
            <div class="caption">Övrig aktivitet</div>
            <img src="images/apa.png" alt="Övrig aktivitet" class="bild">
        </a>
    </div>
</div>
</body>
</html>

