<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Välkommen till Mafunzo! </title>
    <link href="CSS/navbar.css" rel="stylesheet"/>
</head>
<body>
<link href="CSS/registerActivity.css" rel="stylesheet">
<nav class="navbar">
    <a href="home">
        <header>
            <img src="images/logo.png" alt="Header image">
            <h1>Mafunzo</h1>
        </header>
    </a>
    <a href="registerActivity">Registrera Aktivitet</a>
    <a href="#register">Vänner</a>
    <a href="profilepage">
        <img th:src="'data:image/jpeg;base64,'+${user.image}" alt="Profile Picture" class="profile-pic">
    </a>
    <a th:href="@{/logOut}" class="button">Avsluta</a>

</nav>

<div class="content-container">
    <div class="image-grid">
        <button onclick="window.location.href='strengthTraining'">
            <div class="caption">Styrketräning</div>
            <img src="images/gorilla-gym.png" alt="Styrketräning" class="bild">
        </button>

        <button onclick="window.location.href='runTraining'">
            <div class="caption">Löpning</div>
            <img src="images/gorilla-löper.png" alt="Löpning" class="bild">
        </button>

        <button onclick="window.location.href='yogaTraining'">
            <div class="caption">Yoga</div>
            <img src="images/gorilla-yoga.png" alt="Yoga" class="bild">
        </button>

        <button onclick="window.location.href='walkTraining'">
            <div class="caption">Promenad</div>
            <img src="images/gorilla-promenerar.png" alt="Promenad" class="bild">
        </button>

        <button onclick="window.location.href='bikeTraining'">
            <div class="caption">Cykling</div>
            <img src="images/gorilla-cyklar.png" alt="Cykling" class="bild">
        </button>

        <button onclick="window.location.href='swimTraining'">
            <div class="caption">Simning</div>
            <img src="images/gorilla-simmar.png" alt="Simning" class="bild">
        </button>

        <button onclick="window.location.href='golfTraining'">
            <div class="caption">Golf</div>
            <img src="images/gorilla-golfar.png" alt="Golf" class="bild">
        </button>

        <button onclick="window.location.href='stretchTraining'">
            <div class="caption">Stretching</div>
            <img src="images/gorilla-golfar.png" alt="Stretching" class="bild">
        </button>

        <button onclick="window.location.href='otherTraining'">
            <div class="caption">Övrigt</div>
            <img src="images/gorilla-golfar.png" alt="Övrigt" class="bild">
        </button>
    </div>
</div>
</body>
</html>

