<!---
@author Isak Hakola & Kasper Svenlin
 --->
<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Welcome to Mafunzo! </title>
    <link href="CSS/navbar.css" rel="stylesheet"/>
</head>
<body>
<link href="CSS/registerActivity.css" rel="stylesheet">
<nav class="navbar">

    <div class="notification">
        <a>
            <img src="../images/notification.png">
        </a>
    </div>

    <div class="titel">
        <a href="home">
            <header>
                <img src="../images/logo.png" alt="Header image">
                <h1>Mafunzo</h1>
            </header>
        </a>
    </div>

    <div class="hamburger">
        <select id ="menu" onChange="window.location.href=this.value">
            <option value="home" >Menu</option>
            <option value="profilepage">Profile</option>
            <option value="registerActivity">Add activity</option>
            <option value="searchPage">Search</option>
            <option value="logOut">Log out</option>
        </select>

    </div>
</nav>

<div class="content-container">
    <div class="image-grid">
        <button onclick="window.location.href='strengthTraining'">
            <div class="caption">Strength Training</div>
            <img src="images/gorilla-gym.png" alt="Styrketräning" class="bild">
        </button>

        <button onclick="window.location.href='runTraining'">
            <div class="caption">Running</div>
            <img src="images/gorilla-löper.png" alt="Löpning" class="bild">
        </button>

        <button onclick="window.location.href='yogaTraining'">
            <div class="caption">Yoga</div>
            <img src="images/gorilla-yoga.png" alt="Yoga" class="bild">
        </button>

        <button onclick="window.location.href='walkTraining'">
            <div class="caption">Walk</div>
            <img src="images/gorilla-promenerar.png" alt="Promenad" class="bild">
        </button>

        <button onclick="window.location.href='bikeTraining'">
            <div class="caption">Cycling</div>
            <img src="images/gorilla-cyklar.png" alt="Cykling" class="bild">
        </button>

        <button onclick="window.location.href='swimTraining'">
            <div class="caption">Swimming</div>
            <img src="images/gorilla-simmar.png" alt="Simning" class="bild">
        </button>

        <button onclick="window.location.href='golfTraining'">
            <div class="caption">Golf</div>
            <img src="images/gorilla-golfar.png" alt="Golf" class="bild">
        </button>

        <button onclick="window.location.href='stretchTraining'">
            <div class="caption">Stretching</div>
            <img src="images/stretching.webp" alt="Stretching" class="bild">
        </button>

        <button onclick="window.location.href='otherTraining'">
            <div class="caption">Other</div>
            <img src="images/övrigt.webp" alt="Övrigt" class="bild">
        </button>
    </div>
</div>
</body>
</html>

